@*
	@{	
		string currentCultureName = (string)ViewData["lang"];
		if (string.IsNullOrWhiteSpace(currentCultureName))
		{
			currentCultureName = "fa";
		}
		string? path = @Context?.Request?.Path.Value;
		var host = @Context?.Request?.Host;
		string? culture = null;
		if (!string.IsNullOrWhiteSpace(path) && path != "/")
		{
			culture = path?.Substring(1, 2);
		}
	}
	
	
	<span class="d-flex">
	@if (currentCultureName != "fa")
	{
		path = $"/fa/Home/Index/";

		<a href="@(path)" class="nav-link text-white">

		فارسی
		<span class="flag-icon flag-icon-ir"></span>
		</a>
	}

	@if (currentCultureName != "en")
	{
		path = $"/en/Home/Index/";

		<a href="@(path)" class="nav-link text-white">

		English
		<span class="flag-icon flag-icon-us"></span>
		</a>
	}
	</span>
*@



@*
	<span class="d-flex">
	<a href="/ChangeCulture?name=fa" class="nav-link text-dark">
	فارسی
	<span class="flag-icon flag-icon-ir"></span>
	</a>
	<a href="/ChangeCulture?name=en" class="nav-link text-dark">
	English
	<span class="flag-icon flag-icon-us"></span>
	</a>
	</span>
*@

@{
	//var currentCultureName =
	//	System.Threading.Thread.CurrentThread.CurrentUICulture.Name
	//	.Substring(startIndex: 0, length: 2)
	//	.ToLower()
	//	;
	var currentCultureName =
		System.Threading.Thread.CurrentThread
		.CurrentUICulture.TwoLetterISOLanguageName;

}
<span class="d-flex">
	@if (currentCultureName != "fa")
	{
		<a href="/ChangeCulture?cultureName=fa" class="nav-link text-white">
		فارسی
		<span class="flag-icon flag-icon-ir"></span>
		</a>
	}

	@if (currentCultureName != "en")
	{
		<a href="/ChangeCulture?cultureName=en" class="nav-link text-white">
		English
		<span class="flag-icon flag-icon-us"></span>
		</a>
	}
</span>