<title>@(ViewData["Title"])</title>
@*<title>@(ViewData["PageTitle"])</title>*@

<meta name="author" content="Mr. Mohammad Abdollahzadeh">
<meta name="description" content="A simple ASP.NET Core  MVC & Razor Page Template." />
